In [3]:
import pandas as pd

### Load Datasets

In [5]:
netflix_df = pd.read_csv("./other_data/netflix_userbase.csv")
netflix_df = netflix_df.drop(["Plan Duration"], axis=1)
netflix_df.head(5)

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender,Device
0,1,Basic,10,15-01-22,10-06-23,United States,28,Male,Smartphone
1,2,Premium,15,05-09-21,22-06-23,Canada,35,Female,Tablet
2,3,Standard,12,28-02-23,27-06-23,United Kingdom,42,Male,Smart TV
3,4,Standard,12,10-07-22,26-06-23,Australia,51,Female,Laptop
4,5,Basic,10,01-05-23,28-06-23,Germany,33,Male,Smartphone

In [4]:
# Check Data Types
netflix_df.dtypes

User ID               int64
Subscription Type    object
Monthly Revenue       int64
Join Date            object
Last Payment Date    object
Country              object
Age                   int64
Gender               object
Device               object
dtype: object

### Data Check & Cleaning

In [6]:
# Check for duplicates
netflix_df[netflix_df.duplicated()]

Empty DataFrame
Columns: [User ID, Subscription Type, Monthly Revenue, Join Date, Last Payment Date, Country, Age, Gender, Device]
Index: []

In [7]:
# Check null values
netflix_df[netflix_df.isnull().any(axis=1)]

Empty DataFrame
Columns: [User ID, Subscription Type, Monthly Revenue, Join Date, Last Payment Date, Country, Age, Gender, Device]
Index: []

### Data Exploration

In [10]:
# Check unique value for Country
netflix_df["Country"].unique()

array(['United States', 'Canada', 'United Kingdom', 'Australia',
       'Germany', 'France', 'Brazil', 'Mexico', 'Spain', 'Italy'],
      dtype=object)

In [11]:
# Check unique value for subscription
netflix_df["Subscription Type"].unique()

array(['Basic', 'Premium', 'Standard'], dtype=object)

In [12]:
# Get the latest subscription date
netflix_df["Last Payment Date"].max()

'30-06-23'

In [12]:
# Get minimum and maximum age
min_age = netflix_df["Age"].min()
max_age = netflix_df["Age"].max()
min_age, max_age

(26, 51)

In [13]:
# Check unique value on Device
netflix_df["Device"].unique()

array(['Smartphone', 'Tablet', 'Smart TV', 'Laptop'], dtype=object)