In [108]:
import pandas

data = pandas.read_csv("./other_data/pokemon_data.csv")

# data = data.drop(data["Columns"], axis=1)
data = data.drop(data.columns[0], axis=1)

data.head(5)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

### Read Data

In [97]:
# Read header
# data.columns

# Read each column
# data[["Name", "Type 1", "HP"]]

# Read each rows
# data[0:4]

# Read a spesific location (R, C)
# data.iloc[1,1]

### Describing Data

In [98]:
# Describing data (count, mean, std, min, 25%, 50%, 75%, max)
data.describe()

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [99]:
# Sorting data
data.sort_values(["Type 1", "HP"], ascending = [1, 0]).reset_index(drop = True)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
1,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
2,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
3,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
4,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Krabby,Water,NaN,30,105,90,25,25,50,1,False
796,Horsea,Water,NaN,30,40,70,70,25,60,1,False
797,Staryu,Water,NaN,30,45,55,70,55,85,1,False
798,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
799,Feebas,Water,NaN,20,15,20,10,55,80,3,False

### Modify Data

In [100]:
# Summing data
data["Total"] = data["HP"] + data["Attack"] + data["Defense"] + data["Sp. Atk"] + data["Sp. Def"] + data["Speed"]
# data = data.drop(columns = ["Total"])
data = data[["Name", "Type 1", "Type 2", "HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed", "Total", "Generation", "Legendary"]]

data.head(5)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False

### Export Data

In [101]:
data.to_csv("./other_data/pokemon_modified.csv", sep = ",", index = False)

### Filter Data

In [102]:
# newData = data.loc[(data["Type 1"] == "Grass") | (data["Type 2"] == "Poison")]
# newData = data.loc[(data["Type 1"] == "Grass") & (data["Type 2"] == "Poison")]
newData = data[(data["Type 1"] == "Grass") & (data["Type 2"] == "Poison") & (data["HP"] > 70)].reset_index(drop=True)

# newData = data.loc[data["Name"].str.contains("Mega")]
# newData = data.loc[~data["Name"].str.contains("Mega")]

newData.head(5)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
1,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
2,Vileplume,Grass,Poison,75,80,85,110,90,50,490,1,False
3,Victreebel,Grass,Poison,80,105,65,100,70,70,490,1,False
4,Amoonguss,Grass,Poison,114,85,70,85,80,30,464,5,False

### Conditional Changes

In [105]:
# data.loc[data["Type 1"] == "Fire", "Type 1"] = "Flame"
# data.loc[data["Type 1"] == "Fire", "Legendary"] = True
data.loc[data["Type 1"] == "Fire", ["Generation", "Legendary"]] = [2, True]

changedData = data[data["Type 1"] == "Fire"].reset_index(drop = True)

changedData.head(5)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,Charmander,Fire,NaN,39,52,43,60,50,65,309,2,True
1,Charmeleon,Fire,NaN,58,64,58,80,65,80,405,2,True
2,Charizard,Fire,Flying,78,84,78,109,85,100,534,2,True
3,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,634,2,True
4,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,634,2,True

### Aggregate Statistics (Groupby)

In [106]:
data[["Type 1", "Attack"]].groupby(["Type 1"]).mean().sort_values("Attack", ascending = False)
# data[["Type 1", "Attack"]].groupby(["Type 1"]).sum().sort_values("Attack", ascending = False)
# data[["Type 1", "Attack"]].groupby(["Type 1"]).count().sort_values("Attack", ascending = False)

              Attack
Type 1
Dragon    112.125000
Fighting   96.777778
Ground     95.750000
Rock       92.863636
Steel      92.703704
Dark       88.387097
Fire       84.769231
Flying     78.750000
Poison     74.678571
Water      74.151786
Ghost      73.781250
Normal     73.469388
Grass      73.214286
Ice        72.750000
Psychic    71.456140
Bug        70.971014
Electric   69.090909
Fairy      61.529412