In [1]:
import pandas

data = pandas.read_csv("./other_data/pokemon_data.csv")
# print(data.head(3))

### Read Data

In [2]:
# Read header
header = data.columns
# print(header)

# Read each column
columnsData = data[["Name", "Type 1", "HP"]]
# print(columnData)

# Read each rows
rowsData = data.iloc[0:4]
# print(rowsData)
isFire = data.loc[data["Type 1"] == "Fire"]
# print(isFire)

# Read a spesific location (R, C)
isIvysaur = data.iloc[1,1]
# print(isIvysaur)

### Describing & Sorting Data

In [3]:
# Describing data (count, mean, std, min, 25%, 50%, 75%, max)
data.describe()

# Sorting data
data.sort_values(["Type 1", "HP"], ascending = [1, 0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

### Modify Data

In [4]:
# Summing data
data["Total"] = data["HP"] + data["Attack"] + data["Defense"] + data["Sp. Atk"] + data["Sp. Def"] + data["Speed"]
# data = data.drop(columns = ["Total"])
data = data[["#", "Name", "Type 1", "Type 2", "HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed", "Total", "Generation", "Legendary"]]

# data.head(5)

### Export Data

In [5]:
data.to_csv("./other_data/pokemon_modified.csv", sep = ",", index = False)

### Filter Data

In [6]:
# newData = data.loc[(data["Type 1"] == "Grass") | (data["Type 2"] == "Poison")]
# newData = data.loc[(data["Type 1"] == "Grass") & (data["Type 2"] == "Poison")]
newData = data.loc[(data["Type 1"] == "Grass") & (data["Type 2"] == "Poison") & (data["HP"] > 70)]
newData = newData.reset_index(drop = True)

# newData = data.loc[data["Name"].str.contains("Mega")]
newData = data.loc[~data["Name"].str.contains("Mega")]

# print(newData)

### Conditional Changes

In [7]:
# data.loc[data["Type 1"] == "Fire", "Type 1"] = "Flame"
# data.loc[data["Type 1"] == "Fire", "Legendary"] = True
data.loc[data["Type 1"] == "Fire", ["Generation", "Legendary"]] = [2, True]

# print(data)

### Aggregate Statistics (Groupby)

In [8]:
# group = data.groupby(["Type 1"]).mean().sort_values("Attack", ascending = False)["Attack"]
# group = data.groupby(["Type 1"]).sum().sort_values("Attack", ascending = False)["Attack"]
group = data.groupby(["Type 1"]).count().sort_values("Attack", ascending = False)

# print(group)

### Large Data (Chunk Size)

In [9]:
for data in pandas.read_csv("./other_data/pokemon_modified.csv", delimiter = ";", chunksize = 5):
    # print("DATA FRAME")
    # print(data)
    pass